body {
  background-color: #212220;
}

#content {
  background-color: #212220;
}

.filteringsheader {
  text-align: center;
}

/***************'* Fonts ***********/
@font-face {
  font-family: anton;
  src: url(Anton/Anton-Regular.ttf);
}
@font-face {
  font-family: bebasneue;
  src: url(BebasNeue/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: roboto;
  src: url(Roboto/Roboto-Regular.ttf);
}

/* Generelt for fonts */

h1 {
  font-family: anton;
  font-weight: normal;
  font-size: 4rem;
}

h2 {
  font-family: bebasneue;
  font-weight: normal;
  font-size: 3rem;
  color: blue;
}

.valgtsport {
  background-color: blue;
}

.valgt {
  background-color: aqua;
}

#content {
  background-color: #212220;
}

nav,
button,
h2 {
  text-align: center;
  padding-left: 50px;
  padding-right: 20px;
}

.holdbeskrivelser {
  background-color: #eeecee;
  margin-right: -20px;
  padding: 30px;
  margin-bottom: 5rem;
}

#filtreringsoverskrift {
  color: #eeecee;
  margin-top: 2rem;
}

.grid_fh {
  margin-bottom: 3rem;
}

.elementor-kit-8 button,
.elementor-kit-8 input[type="button"],
.elementor-kit-8 input[type="submit"],
.elementor-kit-8 .elementor-button {
  background-color: #02010100;
  color: #f9612c;
}

.hoverb:hover {
  color: #f9612c;
  border: none;
}

.valgt:hover {
  color: #f9612c;
  border: none;
}

h2 {
  font-family: bebasneue;
  font-size: 5rem;
  color: #f9612c;
}

p {
  font-family: roboto;
  color: black;
  margin-bottom: 0px;
  grid-row: 1;
  grid-column: 2;
  place-self: end start;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

h3 {
  grid-row: 1;
  grid-column: 2;
  place-self: start;
  color: #f9612c;
  padding-left: 2rem;
  font-size: 3rem;
  font-family: bebasneue;
}

/* tablet */
@media (min-width: 768px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
  .holdbeskrivelser {
    margin-bottom: 10rem;
  }

  #indmeld {
    grid-column: 2;
    grid-row: 3;
    max-width: 20%;
    place-self: end start;
    margin-left: 2rem;
  }
}

@media (min-width: 1200px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  p {
    margin-top: 10px;
  }
}

/********** Taget fra additional CSS */
#pris {
  grid-column: 2;
  grid-row: 3;
  place-self: start;
  font-weight: bold;
  color: #213726;
  padding-left: 2rem;
}

#kontigent {
  grid-column: 2;
  grid-row: 2;
  place-self: end start;
  font-weight: bold;
  color: #213726;
  padding-left: 2rem;
}

#picture {
  grid-row: span 3;
  width: 100%;
  height: auto;
  object-fit: cover;
}

#indmeld {
  grid-column: 2;
  grid-row: 3;
  width: 60%;
  place-self: end start;
  margin-left: 2rem;
}

.videolandingpage {
  object-fit: cover;
}
