body {
  background-color: #212220;
}

#content {
  background-color: #212220;
}

.filteringsheader {
  text-align: center;
}

/***************'* Fonts ***********/
@font-face {
  font-family: anton;
  src: url(Anton/Anton-Regular.ttf);
}
@font-face {
  font-family: bebasneue;
  src: url(BebasNeue/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: roboto;
  src: url(Roboto/Roboto-Regular.ttf);
}

/* Generelt for fonts */

h1 {
  font-family: anton;
  font-weight: normal;
  font-size: 4rem;
}

h2 {
  font-family: bebasneue;
  font-weight: normal;
  font-size: 3rem;
}

.valgtsport {
  background-color: blue;
}

.valgt {
  background-color: aqua;
}
